*

# zsh
!.config/zsh/.zshrc
!.config/zsh/zsh_aliases
!.config/zsh/zsh_personal_machine
!.config/zsh/zsh_system76
!.config/zsh/zsh_vcsprompt
!.config/zsh/zsh_vimode
!.config/zsh/zsh_work_machine

# git
!.config/git/.gitignore_global
!.config/git/aliases
!.config/git/config

# nvim
!.config/nvim/init.lua
!.config/nvim/lazy-lock.json
!.config/nvim/lua/
!.config/nvim/after/
!.config/nvim/spell/

# emacs
!.config/emacs/init.el
!.config/emacs/early-init.el
!.config/emacs/config.org
!.config/emacs/config.el
!.config/emacs/themes/*.el
!.config/emacs/eshell/*

# starship
!.config/starship/starship.toml

# zellij
!.config/zellij/config.kdl
!.config/zellij/layouts/

# tmux
!.config/tmux/tmux.conf

# alacritty
!.config/alacritty/

# kitty
!.config/kitty/

# ranger
!.config/ranger/

# i3 / i3status
!.config/i3/config
!.config/i3status/config

# skhd
!.config/skhd/skhdrc

# fish
!.config/fish/fzf_key_bindings.fish
