.config/*
.config/ranger/colorschemes/
!.config/nvim/
.config/nvim/plugin/packer_compiled.lua
.config/nvim/lazy-lock.json
!.config/awesome/
!.config/ranger/
!.config/i3/
!.config/i3status/
!.config/kitty/
!.config/alacritty/
!.config/zellij/
!.config/fish/
!.config/zsh/
.config/zsh/.zcompdump*
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions/*

