 layout {
    tab {
      pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
      }
      pane split_direction="vertical" {
        pane name="k9s" command="k9s" focus=true
      }
      floating_panes {
        pane name="bull-repl" command="quark-bull-repl" {
            x "100%"
            y 1
            width "100%" 
            height "48%"
        }
        pane name="kubectl sandbox" {
            x "100%"
            y "50%"
            width "100%" 
            height "49%"
        }
      }
      pane size=2 borderless=true {
        plugin location="zellij:status-bar"
      }
    }
}

