layout cwd="$HOME/.dotfiles/" {
  tab name="/" focus=true {
    pane command="nvim" start_suspended=true
  }
  tab name="nvim" cwd=".config/nvim/" {
    pane command="nvim" start_suspended=true
  }
  tab name="zellij" cwd=".config/zellij/" {
    pane command="nvim" start_suspended=true
  }
}
