 layout {
    tab {
      pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
      }
      floating_panes {
          pane {
            x 0
            y "50%"
          }
          pane command="cargo test" {
              x "100%"
              y 1
              width "50%" 
              height "32%"
          }
          pane command="cargo run" {
              x "100%"
              y "33%"
              width "50%" 
              height "32%"
          }
          pane command="cargo fmt" {
              x "100%"
              y "66%"
              width "50%" 
              height "32%"
          }
      }
      pane split_direction="horizontal" {
        pane focus=true
        pane split_direction="vertical" size="25%" {
          pane
        }
      }
      pane size=2 borderless=true {
        plugin location="zellij:status-bar"
      }
    }
}

