[settings]
experimental = true
idiomatic_version_file_enable_tools = ["node"]

[tools]
usage = "latest"
fnox  = "latest"
age   = "latest"
yq    = "latest"

[tasks.ncu]
description = "Check for any npm packages with updates in current directory"
dir = "{{cwd}}"
run = 'npx --yes npm-check-updates -ui --timeout=1000000000'

[tasks.kns]
run = "kubectl config view --minify --output 'jsonpath={..namespace}'"

[tasks.knss]
usage = 'arg "<namespace>"'
run = "kubectl config set-context --current --namespace '$usage_namespace'"

[tasks.setup-tools]
description = "install / upgrade development tools"
run = '''
if ! command -v cargo-binstall >/dev/null 2>&1; then
  curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
fi

crates=(
  cargo-binstall  # upgrade when already installed
  starship        # pretty prompt
  eza             # pretty ls
  bat             # pretty cat
  ripgrep         # faster grep
  zoxide          # ergonomic cd
  presenterm      # markdown presentations
  diffr           # pretty diffs
  porsmo          # pomodoro timer
  atuin           # better shell history
)
(
  set -x
  cargo binstall --no-confirm "${crates[@]}"
)
'''
