[env]
DAGGER_NO_NAG="1"
DO_NOT_TRACK="1"
NODE_EXTRA_CA_CERTS="{{env.HOME}}/ukg/certs/ukg.pem"

[tasks.claude]
description = "litellm - claude"
quiet = true
dir = "{{cwd}}"
usage = '''
flag "--jira-mcp-up" default=#false
flag "--jira-mcp-down" default=#false
'''
run = '''
export CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS="1"
export CLAUDE_CODE_USE_VERTEX="0"
export NODE_EXTRA_CA_CERTS="$HOME/ukg/certs/ukg.pem"
export ANTHROPIC_BASE_URL="https://sdlc-llm.ukg.int"
export ANTHROPIC_AUTH_TOKEN="$(fnox get --profile=local ANTHROPIC_AUTH_TOKEN)"

export ANTHROPIC_DEFAULT_SONNET_MODEL="claude-sonnet-4-5"
export ANTHROPIC_DEFAULT_HAIKU_MODEL="claude-haiku-4-5"
export ANTHROPIC_DEFAULT_OPUS_MODEL="claude-opus-4-5"
export ANTHROPIC_MODEL="opusplan"

if [[ "${usage_jira_mcp_up}" == "true" ]]; then
  claude mcp add jira \
    --transport http \
    --scope user \
    https://sdlc-mcp.ukg.int:8080/mcp/ \
    --header "Authorization: Token $(fnox get JIRA_AUTH_TOKEN --profile=local)" 2>&1 | sed 's/\(Token \)[^"]*"/\1***"/g'
elif [[ "${usage_jira_mcp_down}" == "true" ]]; then
  claude mcp remove jira
else
  claude
fi
'''

[tasks.jctx]
description = "put ticket number onto clipboard"
quiet = true
run = 'jctx --token="$(fnox get --profile=local JIRA_AUTH_TOKEN)" | pbcopy'

