[settings]
experimental = true

[tools]
fnox = "latest"
usage = "latest"

[tasks.tdserve]
run = "uv run --with='mkdocs-techdocs-core,click==8.2.1' pnpx @techdocs/cli serve --no-docker"

[tasks.kns]
run = "kubectl config view --minify --output 'jsonpath={..namespace}'"

# # MOVE TO MISE
[tasks.knss]
usage = 'arg "<namespace>"'
run = "kubectl config set-context --current --namespace '$usage_namespace'"
