[tools]
fnox = "latest"
usage = "latest"

[hooks]
postinstall = '''

brew install jq yq 

'''

[tasks.tdserve]
run = "uv run --with='mkdocs-techdocs-core,click==8.2.1' pnpx @techdocs/cli serve --no-docker"

# # MOVE TO MISE
# function kns() {
#   echo "printing current k8 namespace:"
#   echo "Command Used: kubectl config view --minify --output 'jsonpath={..namespace}'"
#   kubectl config view --minify --output 'jsonpath={..namespace}'; echo
# }
#
# # MOVE TO MISE
# function knss() {
#   echo "switching current k8s namespace:"
#   echo "Command Used: kubectl config set-context --current --namespace $@"
#   kubectl config set-context --current --namespace "$@"
#   echo "---"
#   kgns
# }
#
# # MOVE TO MISE
# alias ll='eza -la'
# alias dka='docker kill $(docker ps -q)'
# alias dcu='docker compose up -d --wait'
# alias dcs='docker compose stop'
# alias dcd='docker compose down'

