[env]
DAGGER_NO_NAG="1"
DO_NOT_TRACK="1"
NODE_EXTRA_CA_CERTS="{{env.HOME}}/ukg/certs/ukg.pem"

[tasks.claude]
description = "litellm - claude"
quiet = true
dir = "{{cwd}}"
run = '''
export CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS="1"
export CLAUDE_CODE_USE_VERTEX="0"
export ENABLE_TOOL_SEARCH="0"
export NODE_USE_SYSTEM_CA=1

export ANTHROPIC_BASE_URL="https://sdlc-llm.ukg.int"
export ANTHROPIC_AUTH_TOKEN="$(fnox get --profile=local ANTHROPIC_AUTH_TOKEN)"

export JIRA_MCP_AUTH_TOKEN="$(fnox get --profile=local JIRA_AUTH_TOKEN)"

export ANTHROPIC_DEFAULT_HAIKU_MODEL="claude-haiku-4-5"
export ANTHROPIC_DEFAULT_SONNET_MODEL="claude-sonnet-4-5"
export ANTHROPIC_DEFAULT_OPUS_MODEL="claude-opus-4-6[1m]"
export ANTHROPIC_MODEL="claude-opus-4-6[1m]"

claude "$@"
'''

[tasks.jctx]
description = "put ticket number onto clipboard"
quiet = true
run = 'jctx --token="$(fnox get --profile=local JIRA_AUTH_TOKEN)"'

[tasks.docker-build]
quiet = true
usage = '''
arg <image-tag>
'''
run = '''
export ARTIFACTORY_AUTH_TOKEN="$(fnox get ARTIFACTORY_AUTH_TOKEN)"
(
  set -x
  docker build --secret id=artifactory_auth_token,env=ARTIFACTORY_AUTH_TOKEN . -t "$usage_image_tag"
)
'''

[tasks.docker-build-fnd]
quiet = true
run = '''
export NAMESPACE="gears-tools"
export NAMESPACE_AIRLOCK_NAME="gsm"
export NAMESPACE_GSM_PROJECT_ID="d-ulti-devx-quark-system-8bc7"
export NAMESPACE_GSM_CREDENTIALS_FILE_PATH="${HOME}/.config/gcloud/application_default_credentials.json"

export ARTIFACTORY_AUTH_TOKEN="secrets.gsm::gt_artifactory_npm_auth_token"

export GAR_ACCESS_TOKEN="$(gcloud auth print-access-token)"

(
  set -x

  ../quark-foundry/bin/dev tanagra:deploy:docker-image \
    --template_type=app \
    --project_dir= \
    --environment_json='{}' \
    --docker_host=unix:///var/run/docker.sock \
    --registry_hostname=us-docker.pkg.dev \
    --registry_project_root=d-ulti-cs-gar-27fb/shift-left/images \
    --registry_username=oauth2accesstoken \
    --registry_password="${GAR_ACCESS_TOKEN}"
)
'''
