[settings]
experimental = true
idiomatic_version_file_enable_tools = ["node"]

[tools]
usage = "latest"
fnox  = "latest"
age   = "latest"
yq    = "latest"

[tasks.ncu]
description = "Check for any npm packages with updates in current directory"
dir = "{{cwd}}"
run = 'npx --yes npm-check-updates -ui --timeout=1000000000'

[tasks.kns]
run = "kubectl config view --minify --output 'jsonpath={..namespace}'"

[tasks.knss]
usage = 'arg "<namespace>"'
run = "kubectl config set-context --current --namespace '$usage_namespace'"

[tasks.setup-tools]
description = "install / upgrade development tools"
quiet = true
usage = '''
flag "-i --install" help="install crates with cargo-binstall"
flag "-u --update" help="install updates with cargo-update"
'''
run = '''
crates=(
  cargo-binstall  # upgrade when already installed
  starship        # pretty prompt
  eza             # pretty ls
  bat             # pretty cat
  ripgrep         # faster grep
  zoxide          # ergonomic cd
  presenterm      # markdown presentations
  diffr           # pretty diffs
  porsmo          # pomodoro timer
  atuin           # better shell history
  jj-cli          # vcs "git frontend" (it's a very nice.)
)

if [[ "$usage_install" == "true" ]];  then
  if ! command -v cargo-binstall >/dev/null 2>&1; then
    cargo install cargo-binstall
  fi

  (
    set -x
    cargo binstall --no-confirm "${crates[@]}"
  )
fi

if [[ "$usage_update" == "true" ]];  then
  if ! command -v cargo-update >/dev/null 2>&1; then
    cargo install cargo-update
  fi

  (
    set -x
    cargo install-update "${crates[@]}"
  )
fi
'''
