[settings]
experimental = true

[tools]
fnox = "latest"
usage = "latest"

[tasks.kns]
run = "kubectl config view --minify --output 'jsonpath={..namespace}'"

[tasks.knss]
usage = 'arg "<namespace>"'
run = "kubectl config set-context --current --namespace '$usage_namespace'"
